/* css for common components */
.Title {
  text-align: center;
  margin-top: 230px;
  margin-bottom: 40px;
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: 240;
  background-color: transparent;
  color: white;
}