/* css for contact page */

.Contact {
    width: 40%;
    padding: 30px;
    margin: auto;
    padding-bottom: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  input[type=submit] {
    background-color: rgb(80, 135, 238);
    color: white;
    padding: 10px 16px;
    border: None;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 588px;
  }
  
  input[type=submit] hover {
    background-color: rgb(28, 3, 87);
  }
  
  .Input {
    width: 75%;
    height: 30px;
    overflow: hidden;
    background-color: rgb(177, 198, 245);
    border: None;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
    color: rgb(4, 31, 61);
    border-radius: 4px;
  }
  
  .Label {
    width: 15%;
    font-size: 20px;
    float: left;
    color: white;
    text-align: left;
    padding-right: 10px;
  }
  
  .formSection {
    padding: 15px;
    width: auto;
    text-align: left;
  }
  
  textarea {
    height: 300px;
    width: 75%;
    padding-top: 30px;
    overflow: hidden;
    background-color: rgb(177, 198, 245);
    border: None;
    padding: 5px;
    padding-left: 10px;
    color: rgb(4, 31, 61);
    font-size: 20px;
    border-radius: 4px;
    resize: none;
  }