.Home {
  background-color: #132038;
  width: auto;
  height: 2000px;
}

.Header {
  background-color: #132038;
  text-align: center;
  max-width: auto;
  font-size: 15px;
  align-self: center;
}

.Tab {
  font-size: 20px;
  text-align: center;
  color: #f9fafc;
  background-color: transparent;
  border: None;
  height: 50px;
  margin: 5px;
}

.HiText {
  font-size: 65px;
  color: #e7ecf7;
}
